<%- include('uheader') %>

<div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-home"></i>
      </span> Verify Private Key </h3>
  </div>
  

<section class="dash-inner-sec">
     <div class="row">
             <div class="col-lg-6 col-md-12">
              <form id="create_wallet_sub" action="submit-create-wallet" method="POST">
                 <div class="dashboard-box wow slideInUp">
                     <div class="create-wallet-block">
                           
                            <h3 class="main-heading">Yes Let's get set up.</h3> 
                          
                           <p class="head-commn-text">This will create a new wallet.</p>

                            <h4 class="green-heading">Please enter your Private Key below to <br> Confirm your wallet.</h4>

     
                           
                            <div class="input-group input-dash copy-id-dash enter-passphrase">
                              <input class="form-control" type="text"  name="passphrase" placeholder="Please enter Private Key to create wallet" id="passphrase" data-rule-required="true"  data-msg-required="Please enter Private Key." autocomplete="off">
                              <input type="hidden" value="<%=user_passphrase %>" name="check_key" id="check_key">
                            </div>
                            <span class="error_validate" for="passphrase"></span>
                              <span id="pass_error" style="color: red; text-align: left !important; display:block" ></span>
                              <div class="clearfix note-line">
                                <!-- <a href="/Create-wallet"><span class="float-left wow slideInLeft">Whoops, I didn't write my private key.</span></a> -->
                                <!-- <span class="float-right wow slideInRight"><a href="/Create-wallet">Create a new wallet</a></span> -->
                              </div>
                          <div class="clearfix note-line">
                            <span class=""><b><i class="fa fa-info-circle"></i>  Make sure you keep the Private Key safe. If you lose your private key, your account / funds would be locked and can't be restored</b></span>
                          </div>

                          <div class="text-center">
                            <a class="btn btn-common light-green" href="/Create-wallet">Go Back</a>
                              <button class="btn btn-common light-green" id="submit_key" type="submit">Continue</button>
                          </div>
                        </div>
                 </div>
              </form>
             </div>
              <div class="col-lg-6">
               <div class="img-box-side">
                 <img src="assets/images/wallet-img.jpg" class="img-fluid">
               </div>
             </div>
        </div>
</section>


<%- include('footer') %>

<script src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript">
$('#create_wallet_sub').validate({
      onfocusout: function(element) {
      this.element(element);
      },
      errorClass: 'error_validate',
      errorElement:'span',
      highlight: function(element, errorClass) {
      $(element).removeClass(errorClass);
      },
      submitHandler:function(form)
         {
          var passphrase=$('#passphrase').val().trim();
          var check_key=$('#check_key').val().trim();
          if(passphrase != check_key && passphrase !="")
          {
           $('#pass_error').html('Please enter valid Private Key.');
               
            return false;
          }
          else
          {
             $('#submit_key').attr('disabled',true);
            form.submit();
           
          }
                 
         }
      });
      
 $("#passphrase").focusin(function(){
  $("#pass_error").html("");
});
      
      
</script> 